.country {
  margin-top: 20px;
}

.comment {
  margin-top: 20px;
  width: 300px;
}

form {
  background-color: aqua;
  max-width: 476px;
  height: 529px;
  padding: 34px;
}

.newsletter {
  margin-top: 20px;
}

.language {
  margin-top: 20px;
}
